---
import Topbar from "../components/Topbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../styles/global.css" />
    <meta name="theme-color" content="#0A0A0A" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Known</title>
  </head>
  <body class="container">
    <Topbar />
    <slot />
  </body>
</html>
