@import url("./fonts.css");

:root {
  font-family: "General Sans", sans-serif;

  background-color: #fafafa;
  color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0a0a0a;
    color: #fafafa;
  }
}
